{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container" style="margin-top:2em">
    <div class="row">
        <div class="col-lg-3">
            <ul class="nav nav-pills flex-column ">
            <li class="nav-item">
                <a class="nav-link " href="{{ path('source_creation', { 'id': project.id }) }}">Importer un fichier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active bg-dark" href="{{ path('oneSource', { 'id': project.id }) }}">Ajouter une source</a>
            </li>
            </ul>
        </div>
        <div class="col-lg-9">
            <div class="col-sm-10">
            <h1> Ajoute une source </h1>
                {{ form_start(form) }}
                    {{ project.nameProject }}
                    <br><label> Langue : </label>
                    {{ langue }} <br>
                    <div class="form-group">
                        {{ form_widget(form) }}
                    </div>
                    <button type="submit" class="btn btn-primary"> Ajouter la source</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
