{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container" style="margin-top:2em">
    <div class="row">
        <div class="col-sm-4" style="">
            <div class="list-group">   
                {% for theSource in sources %}
                    {% if theSource.oneSource is not null %}
                        <a  class="list-group-item list-group-item-action" href="{{ path('tanslate_action', { 'id_project': theProject.id, 'id': theSource.id}) }}"> {{ theSource.oneSource }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-8">
        {% if source is defined and source %}
        <div class="col-sm-10">
            <label> Texte à traduire :</label>
            <p class="text-primary lead"> {{ source.oneSource }} </p>
            {% if theProject.statut != "bloquer" %}    
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_widget(form) }}
                    </div>
                    {% if is_granted("ROLE_TRAD") %}
                        <button type="submit" class="btn btn-primary"> Sauvegarder</button>
		            {% else %}
                        <p class="text-danger"> Impossible de traduire, vous n'etes pas un traducteur </p>
                    {% endif %}
                {{ form_end(form) }}
	        {% elseif theProject.statut == "bloquer" %}
	            {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_widget(form) }}
                    </div>
                   <p class="text-danger"> impossible de traduire la source car l'auteur a temporairement bloqué le projet. </p> 
                {{ form_end(form) }}
		   {% endif %}
           <br>
            <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                <li class="nav-item">
                    <a class="nav-link active show" data-toggle="tab">suggestion</a>
                </li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div id="display" class="tab-pane fade active show"></div>
            </div>
        </div>
        {% endif %}
        </div>
    </div>

</div>


{% endblock %}
{% block javascripts %}
 <script type="text/javascript">
    console.log("test");
    function myFunctionDisplay(){
        var selectElmt = document.getElementById("translate_langTranslate");
        var valeurselectionnee = selectElmt.options[selectElmt.selectedIndex].value;
        var textselectionne = selectElmt.options[selectElmt.selectedIndex].text;
        var tabTrans = [];
        var i = 0;
        {% if source is not null %}
            {% for oneSourceTrans in sourcesTrans %}
            if ("{{ oneSourceTrans.source.oneSource }}" == "{{ source.oneSource }}") {
                if ( "{{ oneSourceTrans.langTranslate }}" == valeurselectionnee ) {  
                    tabTrans.push("<p><span class='lead text-primary'> {{ oneSourceTrans.valueTranslated }}</span> - Auteur : {{ oneSourceTrans.user.username }}</p>");
                }
                document.getElementById("display").innerHTML = tabTrans.join(' ') ;
            }
            {% endfor %}    
        {% endif %}    

        console.log(tabTrans);
    }
    myFunctionDisplay('translate_langTranslate');
 </script>
{% endblock %}