{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    <h1> Mes projets : {{ nbProj }}</h1>

    <table class="table">
    <thead>
        <tr class="table-active">
            <th>Nom</th>
            <th>Langue</th>
            <th>Modifier</th>
            <th>Supprimer</th>
	    <th>Créer Source(s)</th>
	    <th>Bloquer Projet</th> 
        </tr>
    </thead>
    <tbody>
    {% for oneProject in projects %}
        <tr class="table-light">
            <td><a href="{{ path('project_infos', { 'id': oneProject.id }) }}"> {{ oneProject.nameProject }}</a></td>
            <td> {{ oneProject.langOrigin.libelleLangage }}</td>
            <td> <a href="{{ path('project_edit', { 'id': oneProject.id }) }}"><i class="fa fa-edit fa-lg"> </i> </a></td>
            <td> <a href="{{ path('project_delete', { 'id': oneProject.id }) }}" onclick="return confirm('Etes vous sûre de vouloir supprimer {{ oneProject.nameProject }} ?')"><i class="fa fa-trash fa-lg"></i> </a></td>
            <td> <a href="{{ path('source_creation', { 'id': oneProject.id }) }}"><i class="fa fa-file"></i> </a></td>
            {% if oneProject.statut != "bloquer" %}
            <td><a class="text-danger" href="{{ path('project_block', { 'id': oneProject.id }) }}" onclick="return confirm('Etes vous sûre de vouloir bloquer votre projet ? (plus personne ne pourra traduire vos sources)')">bloquer</a></td>
            {% elseif oneProject.statut == "bloquer" %}
            <td><a class="text-success" href="{{ path('project_block', { 'id': oneProject.id }) }}">débloquer</a></td>
            {% endif %}
        </tr>
    {% endfor %}
        <tr> 
            <td style="text-align:center;"> <a href="{{ path('project_creation') }}"> <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i></a> </td> 
            <td colspan="6"> <- Créer un nouveau projet </td> 
        </tr>


    </tbody>
    </table>
</div>


{% endblock %}
